<?xml version="1.0" encoding="utf-8"?>

<nlog autoReload="true">
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>
    <targets async="true">
        <target name="default" type="NLogViewer" address="udp://127.0.0.1:7071" includeNLogData="false" />
    </targets>
    <rules>

        <!-- everything above debug -->
        <logger name="*" minlevel="Info" writeTo="default" />

    </rules>
</nlog>